<div class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-6 is-offset-3">
          <div class="drop-container" ngFileDrop (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
            <h1>Drag & Drop</h1>
          </div>
        </div>
        <div class="column is-6 is-offset-3">
          <label class="upload-button">
            <input type="file" ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
            or choose file(s)
          </label>
        </div>
        <div class="column is-6 is-offset-3">
          <div class="columns">
            <div class="column is-4 centered">
              <label class="label">Concurrent</label>
              <input class="input input-field" type="text" name="concurrency" [(ngModel)]="formData.concurrency">
            </div>
            <div class="column is-4 centered">
              <label class="label">Auto Upload</label>
              <div class="slideOne">
                <input type="checkbox" value="None" id="autoUpload" name="autoUpload" [(ngModel)]="formData.autoUpload" />
                <label for="autoUpload"></label>
              </div>
            </div>
            <div class="column is-4 centered">
              <label class="label">Verbose</label>
              <div class="slideOne">
                <input type="checkbox" value="None" id="verbose" name="check" [(ngModel)]="formData.verbose" />
                <label for="verbose"></label>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-6 is-offset-3" *ngIf="files && files.length">
          <div class="upload-file" *ngFor="let f of files; let i = index;">
            <div class="progress-bar-container">
              <span>{{ f.name }}</span>
              <div class="bar" [style.width]="f.progress.data.percentage + '%'" [ngClass]="{ 'green': f.progress.data.percentage === 100 }"></div>
            </div>
          </div>
        </div>
        <div class="column is-6 is-offset-3" *ngIf="formData.verbose">
          <div class="verbose-data"><pre><code>{{ files | json }}</code></pre></div>
        </div>
        <div class="column is-6 is-offset-3" *ngIf="files.length">
          <button type="button" class="start-upload-btn" (click)="startUpload()">
            Start Upload
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
